/dataset/PN2/Images/
/dataset/PN2/Labels/
/dataset/C45V2/Images/
/dataset/C45V2/Labels/
/test_data/
/train_log/
/.vscode/
/vis_result/
dataset/data_pn2_c45v2.zip
dataset/metadata.zip
*__pycache__/*

__pycache__/
